DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your-password-here
DB_HOST=your-db-host-here
DB_PORT=5432
GOOGLE_BOOKS_API_KEY=your-google-books-api-key-here
